---
session:
  name: "Work"

template:
  direction: Horizontal
    run:
      plugin:
        location: "zellij:tab-bar"
    run:
      plugin:
        location: "zellij:status-bar"

tabs:
  - direction: Vertical
    name: "Dotfiles"
  - direction: Vertical
    name: "Code"
