vim.g.neoformat_enabled_shell = ['shfmt']
vim.g.neoformat_enabled_yaml = ['prettier']
vim.g.neoformat_enabled_json = ['prettier']
vim.g.shfmt_opt="-ci"
{{ neoformat_plugin_settings_file or "-- No Languages Configured for Formatting" }}
