require('neorg').setup {
  -- Tell Neorg what modules to load
  load = {
      ["core.defaults"] = {}, -- Load all the default modules
      ["core.keybinds"] = {
          config = {
              default_keybinds = false,
              neorg_leader = "<Leader>o"
          },
      },
      ["core.norg.concealer"] = {}, -- Allows for use of icons
      ["core.norg.dirman"] = { -- Manage your directories with Neorg
          config = {
              workspaces = {
                  notes_workspace = "{{ nvim_neorg_dir }}"
              },
              autochdir = true, -- Automatically change the directory to the current workspace's root every time
              index = "index.norg", -- The name of the main (root) .norg file
          },
      },
  },
}
